@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 2%;
    --foreground: 45 68% 52%;

    --card: 0 0% 4%;
    --card-foreground: 0 0% 80%;
 
    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 80%;
 
    --primary: 45 68% 52%;
    --primary-foreground: 46 100% 13%;
 
    --secondary: 40 33% 15%;
    --secondary-foreground: 45 68% 52%;
 
    --muted: 40 33% 15%;
    --muted-foreground: 0 0% 63%;
 
    --accent: 40 33% 15%;
    --accent-foreground: 45 68% 52%;
 
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 40 33% 20%;
    --input: 40 33% 15%;
    --ring: 45 68% 52%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 2%;
    --foreground: 45 68% 52%;

    --card: 0 0% 4%;
    --card-foreground: 0 0% 80%;
 
    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 80%;
 
    --primary: 45 68% 52%;
    --primary-foreground: 46 100% 13%;
 
    --secondary: 40 33% 15%;
    --secondary-foreground: 45 68% 52%;
 
    --muted: 40 33% 15%;
    --muted-foreground: 0 0% 63%;
 
    --accent: 40 33% 15%;
    --accent-foreground: 45 68% 52%;
 
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 98%;

    --border: 40 33% 20%;
    --input: 40 33% 15%;
    --ring: 45 68% 52%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}