
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 270 50% 13%; /* Cinza Escuro (fundo principal) */
    --foreground: 0 0% 98%;
    --card: 270 50% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 270 50% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 275 100% 50%; /* Indigo Profundo (#4B0082) */
    --primary-foreground: 0 0% 98%;
    --secondary: 285 100% 40%;
    --secondary-foreground: 0 0% 98%;
    --muted: 270 30% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 285 100% 50%; /* Roxo Elétrico (#BF00FF) */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 270 40% 30%;
    --input: 270 40% 20%;
    --ring: 285 100% 60%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 270 3% 13%; /* Cinza Escuro #222222 */
    --foreground: 0 0% 98%;
    --card: 270 3% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 270 3% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 275 100% 25%; /* Indigo Profundo #4B0082 */
    --primary-foreground: 0 0% 98%;
    --secondary: 285 100% 40%;
    --secondary-foreground: 0 0% 98%;
    --muted: 270 5% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 285 100% 50%; /* Roxo Elétrico #BF00FF */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 270 5% 30%;
    --input: 270 5% 20%;
    --ring: 285 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
